@font-face {
    font-family: Banny; /* Имя шрифта */
    src: url(../fonts/Banny-Round.otf); /* Путь к файлу со шрифтом */
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.block{
    display: flex;
    justify-content: space-between;
}
.navigation {
    max-width: 532px;
    width: 100%;
    display: flex;
}
.nav__item {
    max-width: 133px;
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.logo {
    margin-top: 25px;
}
.section__hero {
    margin-top: -189px;
    padding-top: 364px;
    padding-bottom: 83px;
    color: #fff;
    background: #000000 url(/img/header-bg.jpg) no-repeat center / cover;
}
.hero__text {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    transform: rotate(-90deg);
    max-height: 14px;
    margin-left: -119px;
}
.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__subtitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.hero__title {
    font-family: Banny;
    font-size: 96px;
    margin-bottom: 36px;
    position: relative;
}
.hero__title::after {
    content: "";
    width: 61px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -31px;
}
.buttons {
    max-width: 440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button{
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    margin-bottom: 44px;
}
.button--primary {
    background: #E8C300;
}
.button--secondary {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.link-down {
    width: 40px;
    height: 40px;
    background: #fff url(../img/arrow-down.svg) no-repeat center;
    border-radius: 50%;
}
.hero__social {
    display: flex;
    flex-direction: column;
}
.social__img {
    margin-bottom: 20px;
    color: #FFFFFF;
}
.social__link {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
}